<div class="user-profile-afisha-div">
  <div class="user-profile-afisha-filter-div">
    <h3>Моя афиша</h3>
    <div class="user-profile-afisha-filter-btn-div">
      <button class="user-profile-afisha-filter-btns">Мои билеты</button>
      <button class="user-profile-afisha-filter-btns">Хочу сходить</button>
      <button class="user-profile-afisha-filter-btns">Любимые места</button>
    </div>
  </div>
  <div class="search-bar-search-div">
    <input class="search-bar-div-input" type="text" placeholder="Начните вводить название...">
    <button class="search-button">
      <img class="search-button-img" src="assets/svg/search-icon.svg" alt="Кнопка ввода">
    </button>
  </div>
  <div class="user-profile-afisha-cards-div">
    <p class="user-profile-afisha-cards-p1">Афиша Екатеринбурга</p>
    <p class="user-profile-afisha-cards-p2">Покупайте билеты и они появятся здесь</p>
    <button class="user-profile-afisha-filter-btns">Купить билеты</button>
  </div>
</div>


