# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
node_modules/
dist/
.angular/
tmp/
/.vs/Event_organization/FileContentIndex/6e07b309-7a02-4ceb-b3b9-efa70def3793.vsidx
/.vs/Event_organization/FileContentIndex/7d3b5e73-57f8-448f-afb2-a81ea9369a0d.vsidx
/.vs/Event_organization/FileContentIndex/4f43f9a4-f48e-4129-8a4e-d2360b71b8cc.vsidx
/.vs/Event_organization/FileContentIndex/a188b66e-21a2-4ae9-87cf-23f59eb234f6.vsidx
/.vs/Event_organization/FileContentIndex/bc7bf834-bf56-48f9-9878-a97f4363a1cd.vsidx
/.vs/Event_organization/FileContentIndex/14045c4b-f517-4da2-bf54-29ce161022af.vsidx
/.vs/Event_organization/FileContentIndex
/.vs/slnx.sqlite
*.sqlite-journal
