.user-profile-main-title{
  background: none;
  display: flex;
  font-weight: 400;
  font-size: 48px;
}
.user-profile-div-back-button{
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 105px;
  left: 3vw;
}

.user-profile-div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}

.user-profile-div-title{
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-profile-components{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  align-items: flex-start;
  margin-top: 100px;
}
