<app-header></app-header>
<div class="user-profile-div">
  <button type="button" class="user-profile-div-back-button" (click)="navigateToMainPage()">
    <img src="assets/svg/arrow-left-icon.svg">
  </button>
  <div class="user-profile-div-title">
    <h1 class="user-profile-main-title">Ваш профиль</h1>
  </div>
</div>

<div class="user-profile-components">
  <app-user-profile-data-block class="app-user-profile-data-block"></app-user-profile-data-block>
  <app-user-profile-my-afisha-block></app-user-profile-my-afisha-block>
</div>

