<div class="search-bar-div">
  <div class="search-bar-title">
    Афиша Екатеринбурга
  </div>
  <div class="search-bar-search-div">
    <input class="search-bar-div-input" type="text" placeholder="Начните вводить название...">
    <button class="search-button">
      <img class="search-button-img" src="assets/svg/search-icon.svg" alt="Кнопка ввода">
    </button>
  </div>
  <div class="search-bar-div-filter-div">
    <div class="search-bar-div-filter-div1">
      <button class="filter-button">Кино</button>
      <button class="filter-button">Театр</button>
      <button class="filter-button">Выставки</button>
      <button class="filter-button">Музеи</button>
      <button class="filter-button">Спорт</button>
    </div>
    <div class="search-bar-div-filter-div2">
      <button class="filter-button button-sort">
        <mat-icon class="filter-icon">swap_vert</mat-icon>
      </button>
      <button class="filter-button button-calendar">
        <mat-icon class="calendar-icon">calendar_month</mat-icon>
        Дата
      </button>
      <button class="filter-button button-cost-filter">
        <mat-icon class="arrow-down-icon">keyboard_arrow_down</mat-icon>
        Цена
      </button>
      <button class="filter-button">Жанр</button>
    </div>
  </div>
</div>
