.search-bar-div{
  box-sizing: border-box;
  display: block;
  width: 70%;
  position: relative;
  margin: 20px auto;
}

.search-bar-title{
  font-weight: 100;
  font-size: 32px;
  margin: 20px 0;
}

.search-bar-div-input-label{
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: block;
}

.search-bar-search-div{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  min-width: 400px;
  margin-bottom: 20px;
}

.search-button{
  position: absolute;
  margin-right: 4px;
  width: 74px;
  height: 40px;
  border-radius: 17px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: 0.2s;
}

.search-button:hover{
  background-color: lightgray;
  transition: 0.2s;
}

.search-button-img{
  width: 24px;
  height: 24px;
}

.search-bar-div-input{
  width: 100%;
  border: 1px solid var(--light-stroke-color);
  border-radius: 20px;
  padding: 12px 22px;
  background-color: var(--dark-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--light-color);
  outline: none;
}

.search-bar-div-filter-div{
  width: 50%;
  gap: 10px;
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  min-width: min-content;
}
.search-bar-div-filter-div div{
  margin-left: 5%;
  display: flex;
  min-width: min-content;


}

.filter-button{
  box-sizing: border-box;
  white-space: nowrap;
  width: auto;
  max-width: 120px;
  margin: 5px;
  display: flex;
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 5px 20px;
  border-radius: 30px;
  font-weight: 400;
  font-size: 80%;
  line-height: 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  border: solid 1px transparent;
}

.calendar-icon{
  font-size: 20px;
  line-height: 23px;
  color: currentColor;
  overflow: visible;
  margin-right: 3px;
}

.arrow-down-icon{
  font-size: 24px;
  line-height: 24px;
  color: currentColor;
  overflow: visible;
}

.button-cost-filter{
  padding: 5px 15px;
}

.button-calendar{
  padding: 5px 15px;
}

.button-cost-filter-img{
  position: relative;
  top: -1px;
}

.filter-button:hover{
  background-color: var(--dark-soft-color);
  color: var(--light-stroke-color);
  transition: 0.3s;
}

.filter-button:active{
  box-sizing: border-box;
  background-color: var(--dark-soft-color);
  color: var(--light-stroke-color);
  transition: 0.3s;
  border: solid 1px var(--light-stroke-color);
}

.button-sort{
  padding: 7px;
}

.button-sort:hover{
  background-color: lightgray;
  transition: 0.2s;
}

.filter-icon{
  color: var(--dark-color);
  font-size: 20px;
  line-height: 24px;
  z-index: 3;
}
