<div *ngIf="!isLoading && filteredEvents.length === 0">
    <div class="user-profile-afisha-cards-div">
        <p class="user-profile-afisha-cards-p1">Пока пусто 😞</p>
        <p class="user-profile-afisha-cards-p2">Отмечайте любимые места и они появятся здесь</p>
        <button class="user-profile-afisha-filter-btns" [routerLink]="['/']">Купить билеты</button>
    </div>
</div>

<div *ngIf="favoriteEvents$ | async as favEvents; else skeleton" class="div-events">
    <app-event-card *ngFor="let event of favEvents" [event]="event"></app-event-card>
</div>

<ng-template #skeleton>
    скелетон
</ng-template>
