* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-page {
  background-color: var(--dark-color);
  color: white;
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
}

.page-container {
  width: 60%;
}

.event-card-img-button-like {
  display: flex;
  background: none;
  border: none;
  margin-right: 16px;

  .mat-icon {
    color: #D9D9D9;
    transition: color 0.2s;
    cursor: pointer;
  }

  .icon-active {
    color: var(--like-color);
  }
}

.login-btn {
  background-color: white;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 6px 16px;
  cursor: pointer;
  font-weight: 500;
}


.event-date {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 1rem;
}

.map-container {
  padding: 20px;
  background-color: #1a1a1a;
  margin: 20px;
  border-radius: 5px;
}

.map {
  height: 200px;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;
  align-items: center;
}

.section {
  padding: 20px;
}

.section1{
    margin-top: 210px;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.event-description {
  line-height: 1.6;
  margin-bottom: 20px;
}

.read-more {
  color: #3498db;
  text-decoration: none;
}

.time-section {
  border-top: 1px solid #333;
  padding-top: 20px;
}

.time-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.time-block {
  display: flex;
  flex-direction: column;
}

.time-label {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.time-value {
  font-size: 1rem;
}

.location-section {
  border-top: 1px solid #333;
  padding-top: 20px;
}

.map-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 20px;
}

.location-footer {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 0.9rem;
}

.location-footer div {
  position: relative;
  padding-right: 10px;
}

.location-footer div:not(:last-child)::after {
  content: "•";
  position: absolute;
  right: 0;
}

.event-info-section {
  border-top: 1px solid #333;
  padding-top: 20px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.info-block {
  display: flex;
  flex-direction: column;
}

.info-label {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.info-value {
  font-size: 1rem;
}

.register-btn {
  display: block;
  width: 100%;
  background-color: var(--dark-soft-color);
  color: white;
  border: 1px solid var(--dark-golden-color);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  margin: 20px 0;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
  text-decoration: none;
}

.register-btn:hover {
  background-color: darkkhaki;
  border: 1px solid darkkhaki;
  transition: 0.2s;
  color: var(--light-color);
}

.register-btn.added {
  background-color: var(--very-dark-color);   /* насыщенный красный */
  color: var(--light-color);
  border-color: #e53935;
}

.register-btn.added:hover {
  background-color: indianred;   /* темно-красный при наведении */
  color: var(--light-color);
  border-color: indianred;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #1a1a1a; /* Темный фон как заглушка */
  overflow: hidden;
  border-radius: 0 0 20px 20px;

}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
  z-index: 10;
}

.hero-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.hero-subtitle {
  font-size: 18px;
  margin-bottom: 15px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.hero-details {
  font-size: 16px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .hero-title {
    font-size: 28px;
  }

  .hero-subtitle {
    font-size: 16px;
  }

  .hero-details {
    font-size: 14px;
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .time-container {
    flex-direction: column;
    gap: 15px;
  }
}
