<div class="event-card-div">
  <a href="#" class="event-card-img-link">
    <div class="event-card-img-div">
      <img class="event-card-img" src="assets/img/event-card-img1.png" alt="Изображение мероприятия">
      <div class="event-card-img-subdiv">
        <a style="text-decoration: none" href="#">
          <button class="event-card-img-cost-button">
            от 1000 руб
          </button>
        </a>
        <button class="event-card-img-button-like" (click)="toggleLike($event)">
          <mat-icon [ngClass]="{'icon-active': isLiked}">favorite</mat-icon>
          <!--<img id="iconHeartId" src="assets/svg/heart-icon.svg" alt="Нравится">-->
        </button>
      </div>
    </div>
  </a>
  <div class="event-card-under-image-div">
    <div class="event-card-title">
      Тайга, или провинциальные анекдоты
    </div>
    <div class="event-card-under-image-second-div">
      <div class="event-card-tags-div">
        <ul class="event-card-tags">
          <li class="event-card-tag">Драма</li>
          <li class="event-card-tag">Драма</li>
          <li class="event-card-tag">Драма</li>
        </ul>
      </div>
      <div class="event-card-undertags-div">
        <span class="event-card-undertags-date">
          21.03.2025
        </span>
        <span class="event-card-undertags-location">
          <app-svg-icon
            name="location-icon"
            alt="Местоположение"></app-svg-icon>
        <!--<img src="assets/svg/location-icon.svg" alt="Иконка местоположения">-->
          <a href="https://yandex.ru/maps/?text=музкомедия" target="_blank">Музкомедия</a>
        </span>
      </div>
    </div>
  </div>
</div>
