<div class="event-card-div" >
    <div class="event-card-img-div" (click)="openEvent()">
      <img
        class="event-card-img"
        *ngIf="imageUrl; else placeholder"
        [src]="imageUrl"
        [alt]="event.eventName"
      >
      <ng-template #placeholder>
        <img class="event-card-img" src="assets/img/event-card-img1.png" alt="Нет изображения">
      </ng-template>
      <!--<img class="event-card-img" [src]="'assets/img/' + (event.fileName || 'event-card-img1.png')" alt="Изображение мероприятия">-->
      <div class="event-card-img-subdiv">
        <a style="text-decoration: none" href="#">
          <button class="event-card-img-cost-button">
            <span>от {{ event.cost }} руб</span>
            <span class="plus-icon">+</span>
          </button>
        </a>
        <button class="event-card-img-button-like" (click)="toggleLike($event)">
          <mat-icon [ngClass]="{'icon-active': isLiked}">favorite</mat-icon>
          <!--<img id="iconHeartId" src="assets/svg/heart-icon.svg" alt="Нравится">-->
        </button>
      </div>
    </div>
  <div class="event-card-under-image-div">
    <div class="event-card-title">
      <h3>
        {{ event.eventName }}
      </h3>
    </div>
    <div class="event-card-under-image-second-div">
      <div class="event-card-tags-div">
        <ul class="event-card-tags">
          <li class="event-card-tag">{{ event.category | enumTranslator:'category' }}</li>
          <li class="event-card-tag">{{ event.genre | enumTranslator:'genre' }}</li>
        </ul>
      </div>
      <div class="event-card-undertags-div">
        <span class="event-card-undertags-date">
          {{ event.dateStart | date:'dd.MM.yyyy' }}
        </span>
        <span class="event-card-undertags-location">
          <app-svg-icon
            name="location-icon"
            alt="Местоположение"></app-svg-icon>
        <!--<img src="assets/svg/location-icon.svg" alt="Иконка местоположения">-->
          <a [href]="'https://yandex.ru/maps/?text=' + event.place" target="_blank">{{ event.place }}</a>
        </span>
      </div>
    </div>
  </div>
</div>
