.event-card-div{
  width: 310px;
  height: 280px;
  border-radius: 20px;
  transition: 0.1s;
  margin: 20px auto;
}

.event-card-div:hover{
  box-shadow: 0 0 2px var(--light-stroke-color);
  transition: 0.1s;
}

.event-card-img-div{
  display: flex;
  border-radius: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  height: 206px;
  margin-bottom: 5px;
}

.event-card-img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.event-card-img-link{
  text-decoration: none;
}

.event-card-img-cost-button{
  display: flex;
  height: 25px;
  width: 100px;
  border: 1.5px solid var(--light-color);
  border-radius: 30px;
  color: var(--light-color);
  background-color: var(--dark-color);
  justify-content: center;
  align-items: center;
  font-size: 10px;
  letter-spacing: 2px;
  box-sizing: border-box;
  margin-left: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.event-card-img-cost-button:hover{
  background-color: var(--light-color);
  color: var(--dark-soft-color);
  transition: 0.2s;
  border: 1.5px solid var(--dark-soft-color);
}

.event-card-img-subdiv{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: -32px;
}

.event-card-img-button-like{
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 16px;
}

#iconHeartId path{
  cursor: pointer;
  transition: fill 0.3s;
}

#iconHeartId:hover path {
  fill: #ff9baa;
  transition: fill 0.3s;
}

.event-card-under-image-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 25%;
}

.event-card-under-image-second-div{
  height: 100%;
}

.event-card-title{
  font-size: 10px;
  font-weight: 700;
  height: 85%;
  padding-left: 10px;
  width: 100%;
  word-wrap: break-word;
  align-content: center;
  text-align: center;
  overflow: hidden;
  align-items: center;
  max-height: 70px;
}

.event-card-tags-div{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.event-card-tags{
  list-style: none;
  display: flex;
  gap: 3px;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 0;
}

.event-card-tag{
  border: 1px solid var(--dark-soft-color);
  border-radius: 30px;
  padding: 2px 10px;
  font-size: 0.4rem;
  font-weight: 600;
  color: var(--dark-text-color);
}

.event-card-tag:last-child{
  margin-right: 0;
}

.event-card-undertags-div{
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 40%;
  align-items: center;
}

.event-card-undertags-div a{
  text-decoration: none;
  color: inherit;
}

.event-card-undertags-date{
  display: flex;
  font-size: 8px;
  align-items: center;
}

.event-card-undertags-location{
  display: flex;
  font-size: 8px;
  align-items: center;
  word-wrap: break-word;
  width: min-content;
}

.event-card-undertags-location app-svg-icon{
  margin-right: 4px;
}


