.user-profile-afisha-cards-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.user-profile-afisha-cards-p1{
  font-size: 32px;
  font-weight: 300;
  margin: 30px 0 30px 0;
}

.user-profile-afisha-cards-p2{
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.user-profile-afisha-filter-btns{
  border: none;
  border-radius: 30px;
  padding: 7px 30px;
  cursor: pointer;
  font-weight: 100;
  font-size: 16px;
}
