<header class="header">
  <div class="header-logo-div">
    <a class="header-logo-link" href="#">
      <img class="header-logo" src="/assets/svg/logo.svg" alt="Логотип приложения"/>
      <span class="header-logo-text">LocalHosts</span>
    </a>
  </div>
  <nav class="header-nav">
    <ul class="header-nav-ul">
      <a  class="header-nav-ul-link" href="#">
        <li class="header-nav-ul-li">Каталог</li>
      </a>
      <a class="header-nav-ul-link" href="#">
        <li class="header-nav-ul-li">Избранное</li>
      </a>
      <a class="header-nav-ul-link" href="#">
        <li class="header-nav-ul-li">Помощь</li>
      </a>
    </ul>
  </nav>
  <div class="header-button-div">
    <button class="header-button-login">
      <img class="header-button-login-icon" src="/assets/svg/icon-user.svg" alt="Значок пользователя">
      <span class="header-button-login-text">
        Войти
      </span>
    </button>
  </div>
</header>
