<header class="header">
  <div class="header-logo-div">
    <a class="header-logo-link" href="#">
      <img class="header-logo" src="/assets/svg/logo.svg" alt="Логотип приложения"/>
      <span class="header-logo-text">LocalHosts</span>
    </a>
  </div>
  <div class="header-nav-login">
    <nav class="header-nav">
      <ul class="header-nav-ul">
        <a  class="header-nav-ul-link" href="#">
            <li class="header-nav-ul-li">Каталог</li>
            </a>
            <a class="header-nav-ul-link" href="#" (click)="goToFavoritePlaces($event)">
            <li class="header-nav-ul-li">Избранное</li>
            </a>
            <a class="header-nav-ul-link" href="#">
            <li class="header-nav-ul-li">Помощь</li>
            </a>
      </ul>
    </nav>
    <app-parent></app-parent>
  </div>
</header>
