.header{
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  align-items: center;
  border-bottom: 1px solid var(--light-color);
}

.header-logo-link{
  text-decoration: none;
  color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 131px;
  height: 23px;
}

.header-logo-div{
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.header-logo{
  max-width: 100%;
  height: 16px;
  width: auto;
}

.header-logo-text{
  padding-left: 16px;
  font-size: 18px;
  font-weight: 800;
}

.header-nav{
  display: flex;
  justify-content: flex-end;
}

.header-nav-ul{
  width: 277px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.header-nav-ul-link{
  text-decoration: none;
  transition: 0.3s;
  margin-left: 36px;
  color: var(--light-color);
}

.header-nav-ul-link:hover{
  transition: 0.3s;
  color: lightgrey;
}

