@import "fonts";

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --very-dark-color: #000000;
  --dark-color: #1E1E1E;
  --dark-soft-color: #141414;
  --dark-text-color: #7E7E7E;
  --light-color: #ffffff;
  --light-stroke-color: #DBE0E5;
}

body{
  font-family: "Roboto Mono", sans-serif;
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 0;
  margin: 0;
}
