<div class="user-profile-data-block-div">
  <div>
    <img class="user-profile-avatar-big-img" ngSrc="assets/img/sample.jpeg" height="250" width="250" priority>
  </div>
  <div class="user-profile-data-block-input-divs">
    <div class="user-profile-data-block-input-div">
      <label><strong>Ваше Имя:</strong> </label>
      <input type="text" id="username" placeholder="{{ user?.displayName || 'Сначала войдите в аккаунт' }}" readonly>
    </div>
    <div class="user-profile-data-block-input-div">
      <label><strong>Ваш телефон:</strong> </label>
      <input type="text" id="username" placeholder="{{ user?.phoneNumber || 'Не указан' }}" readonly>
    </div>
    <div class="user-profile-data-block-input-div">
      <label>Ваша почта</label>
      <input type="text" id="username" placeholder="{{ user?.email }}" readonly>
    </div>
    <div class="user-profile-data-block-input-div">
      <label>Ваш пароль</label>
      <input type="password" id="password" placeholder="********" readonly>
    </div>
    <button id="editBtn">Изменить данные</button>
  </div>
</div>

<!--Модальное окно
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Изменить данные</h2>
    <div class="user-profile-data-block-input-div">
      <label for="newUsername">Логин:</label>
      <input type="text" id="newUsername">
    </div>
    <div class="user-profile-data-block-input-div">
      <label for="newPassword">Пароль:</label>
      <input type="password" id="newPassword">
    </div>
    <button id="saveBtn">Сохранить</button>
  </div>
</div>

-->
